:root {
    --color-violet: #8F00FF;
}


.hamburger {
    cursor: pointer;
  }
  
  .hamburger input {
    display: none;
  }
  
  .hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }
  
  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  

.glass-btn {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #ffffff35;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff !important;
    background-color: #ffffff0e;
    backdrop-filter: blur(10px);
    transition: .3s ease;
    overflow: hidden;
  }

  .glass-btn::after {
    content: '';
    width: 105%;
    height: 110%;
    background-color: #ffffff1d;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgb(255, 255, 255, .1);
    border-radius: 10px;
    filter: blur(10px);
  }
  
  .glass-btn:hover .glass-btn::after {
    box-shadow: 0px 0px 20px rgb(255, 255, 255, .2);
  }
  
  .glass-btn::before {
    content: '';
    width: 10px;
    height: 100%;
    background-color: #ffffff2b;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: blur(5px);
    animation: moveShine 5s ease  infinite  ;
  }

  @keyframes moveShine {
    0% {
      transform: translate(-200px, -50%);
    } 100% {
      transform: translate(200px, -50%);
    }
  }

.dot-container {
    background-color: #ffffff;
    background-image: radial-gradient(rgba(163, 109, 255, 0.3) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
  }
  
  /* From Uiverse.io by iconicchandu */ 
.card {
    --white: hsl(0, 0%, 100%);
    --black: hsl(240, 15%, 9%);
    --paragraph: hsl(0, 0%, 83%);
    --line: hsl(240, 9%, 17%);
    --primary: hsl(274, 100%, 71%);
  
    position: relative;
  
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
    padding: 1rem;
    width: 19rem;
    background-color: rgb(255, 255, 255);
    background-image: radial-gradient(
        at 88% 40%,
        hsla(240, 15%, 9%, 1) 0px,
        transparent 85%
      ),
      radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
      radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
      radial-gradient(at 0% 64%, hsl(274, 99%, 26%) 0px, transparent 85%),
      radial-gradient(at 41% 94%, hsl(274, 7%, 36%) 0px, transparent 85%),
      radial-gradient(at 100% 99%, hsl(273, 94%, 13%) 0px, transparent 85%);
  
    border-radius: 1rem;
    box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset;
  }
  
  .card .card__border {
    overflow: hidden;
    pointer-events: none;
  
    position: absolute;
    z-index: -10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-image: linear-gradient(
      0deg,
      hsl(0, 0%, 100%) -50%,
      hsl(0, 0%, 40%) 100%
    );
  
    border-radius: 1rem;
  }
  
  .card .card__border::before {
    content: "";
    pointer-events: none;
  
    position: fixed;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%), rotate(0deg);
    transform-origin: left;
  
    width: 200%;
    height: 10rem;
    background-image: linear-gradient(
      0deg,
      hsla(0, 0%, 100%, 0) 0%,
      hsl(274, 100%, 50%) 40%,
      hsl(274, 100%, 50%) 60%,
      hsla(0, 0%, 40%, 0) 100%
    );
  
    animation: rotate 8s linear infinite;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  .card .card_title__container .card_title {
    font-size: 1rem;
    color: var(--white);
  }
  
  .card .card_title__container .card_paragraph {
    margin-top: 0.25rem;
    width: 65%;
  
    font-size: 0.5rem;
    color: var(--paragraph);
  }
  
  .card .line {
    width: 100%;
    height: 0.1rem;
    background-color: var(--line);
  
    border: none;
  }
  
  .card .card__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .card .card__list .card__list_item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .card .card__list .card__list_item .check {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 1.1rem;
    height: 1.1rem;
    background-color: var(--primary);
    flex-shrink: 0;
    border-radius: 50%;
  }

  
  .card .card__list .card__list_item .check .check_svg {
    width: 0.75rem;
    height: 0.75rem;
    flex-shrink: 0;
    fill: var(--black);
  }

  .card .card__list .card__list_item .list_text {
    font-size: 0.75rem;
    color: var(--white);
  }
  
  .card .button {
    cursor: pointer;
  
    padding: 0.5rem;
    width: 100%;
    background-image: linear-gradient(
      0deg,
      hsl(274, 92%, 58%),
      hsl(274, 99%, 26%) 100%
    );
  
    font-size: 0.75rem;
    color: var(--white);
  
    border: 0;
    border-radius: 9999px;
    box-shadow: inset 0 -2px 25px -4px var(--white);
  }
  

.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  /* button styling */
  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }


  /* From Uiverse.io by ArnavK-09 */ 
.hand-container {
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.225),
      1px,
      white 1px,
      white
    );
    background-size: 100% 30px;
    background-color: white;
  }

  div p b {
    color: #8F00FF;
}

/* From Uiverse.io by kamehame-ha */ 
.what-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .what-cards .red {
    background-color: #8F00FF;
  }
  
  .what-cards .blue {
    background-color: #8F00FF;
  }
  
  .what-cards .green {
    background-color: #8F00FF;
  }
  
  .what-cards .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
  }
  
  .what-cards .cards p.tip {
    font-size: 1em;
    font-weight: 700;
  }
  
  .what-cards .cards p.second-text {
    font-size: .7em;
  }
  
  .what-cards .cards:hover {
    transform: scale(1.1, 1.1);
    color: rgb(251, 251, 89);
  }
  
  .what-cards:hover > .cards:not(:hover) {
    /* filter: blur(10px); */
    transform: scale(0.9, 0.9);
  }

h1 {
    text-align: center !important;
    /* font-family: 'Magilo'; */
    color: #8F00FF;
}

p {
  font-family: 'sk';
}

@font-face {
  font-family: 'Magilo';
  src: url('../assets/fonts/Magilio.ttf');
}

@font-face {
  font-family: 'sk';
  src: url('../assets/fonts/sk.otf');
}

@font-face {
  font-family: 'Harmond';
  src: url('../assets/fonts/Harmond.otf');
}

@font-face {
  font-family: 'Power';
  src: url('../assets/fonts/PowerGrotesk.woff2');
}

@font-face {
  font-family: 'raleway';
  src: url('../assets/fonts/Raleway.ttf');
}

@font-face {
  font-family: 'Sen';
  src: url('../assets/fonts/Sen.ttf');
}

b {
  font-size: 1rem;
}

* {
  scroll-behavior: smooth;
}

h1 {
  font-family: 'raleway' !important;
  font-weight: 500;
}

section div p {
  max-width: 700px;
  font-family: 'Sen' !important;
}

.menu-container {
  position: fixed;
  z-index: 40;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -500%);
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-violet);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  transition: .3s ease-in-out;
}

.menu-container.active {
  transform: translate(-50%, -50%) !important;
}

.menu-container div a {
  display: block;
  font-family: 'Sen';
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
  transition: .3s ease;
}

.menu-container div a:hover {
  color: #8F00FF;
}

.fab-container {
  position: fixed;
  z-index: 100;
  right: 20px;
  bottom: 50px;
  background-color: #8F00FF;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.up-button svg {
  display: block;
  width: 30px;
  height: 30px;
}